.description{
    background-color: #ecf39e;
    color: black;
   
}
.img{
    border-radius: 5px;
    background-color: #ecf39e;
    width: 200px;
    
    
}
.title{
    color: black;
    background-color:#ecf39e;
}

.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}