.title{
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
}

.bottonCatalogo{
    background-color: #ecf39e;
    border-radius: 10px;
    
}
.description{
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 5px;
}
.img{
    border-radius: 5px;
    background-color: #ecf39e;
    width: 200px;
    
}
.itemContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #5E8C61;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin:20px;
    box-shadow: 5px 7px 6px rgba(0, 0, 0, 0.2);  
}

.bottonCatalogo{
    background-color: #90a955;
    color: white; 
    margin-bottom: 15px;
    font-size: 1rem; 
    padding: 10px 15px;
    border: 1px solid #5E8C61; 
    border-radius: 20px; 
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.2); 
}
.bottonCatalogo:hover{ 
    border: 1px solid #ecf39e;
    transition: background-color 0.5s, border 0.5s;
}